/*
section {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('../assets/images/gr-background.jpg');
  background-position: left center;
  background-size: cover;
  min-height: 80vh;
}

.hero-section .hero-subheading {
  font-style: italic;
}

.academy-badge {
  margin: 10px;
}

.academy-badge a {
  display: block;
}

.academy-badge a img {
  width: 100%;
  display: block;
}