/*===== resets =====*/
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*===== typography =====*/
* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  transition: .4s;
}

button:hover {
  cursor: pointer;
  opacity: .7;
}

/*===== colors =====*/
.gr-primary {
  color: #50BA89;
}

.gr-secondary {
  color: #f5b700;
}

.gr-accent {
  color: #B43C52;
}

.gr-dark {
  color: #2a3439;
}

.gr-light {
  color: #f5f6f8;
}

.gr-primary-bg {
  background-color: #50BA89;
}

.gr-secondary-bg {
  background-color: #f5b700;
}

.gr-accent-bg {
  background-color: #B43C52;
}

.gr-dark-bg {
  background-color: #2a3439;
}

.gr-light-bg {
  background-color: #f5f6f8;
}

.gr-transparent-bg {
  background-color: transparent;
}

/*===== navigation =====*/
.gr-nav-section {
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  transition: .4s;
}

.gr-nav-section .desktop-nav-container {
  display: flex;
  flex-direction: row;
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}

.gr-nav-section .desktop-nav-container .desktop-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.gr-nav-section .desktop-nav-container .desktop-nav li {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gr-nav-section .desktop-nav-container .desktop-nav li a {
  text-decoration: none;
  font-weight: bold;
}

.gr-nav-section .mobile-nav-container {
  display: none;
}

/*===== section =====*/
.gr-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gr-section-center {
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
}

.gr-section-right {
  max-width: 944px;
  width: 100%;
  margin: 0 0 0 auto;
}

.gr-section-left {
  max-width: 944px;
  width: 100%;
  margin: 0 auto 0 0;
}

.gr-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gr-section .gr-col-1 {
  flex-basis: 8.333%
}

.gr-section .gr-col-2 {
  flex-basis: 16.666%;
}

.gr-section .gr-col-3 {
  flex-basis: 25%;
}

.gr-section .gr-col-4 {
  flex-basis: 33.333%;
}

.gr-section .gr-col-5 {
  flex-basis: 41.666%;
}

.gr-section .gr-col-6 {
  flex-basis: 50%;
}

.gr-section .gr-col-7 {
  flex-basis: 58.333%;
}

.gr-section .gr-col-8 {
  flex-basis: 66.666%;
}

.gr-section .gr-col-9 {
  flex-basis: 75%;
}

.gr-section .gr-col-10 {
  flex-basis: 83.333%;
}

.gr-section .gr-col-11 {
  flex-basis: 91.666%;
}

.gr-section .gr-col-12 {
  flex-basis: 100%;
}

/*===== shadows =====*/
.gr-shadow-none {
  box-shadow: none;
}

.gr-shadow-0 {
  box-shadow: 0 0 5px 2px #333333;
}

.gr-shadow-1 {
  box-shadow: 1px 1px 6px 2px #333333;
}

.gr-shadow-2 {
  box-shadow: 2px 2px 7px 3px #333333;
}

.gr-shadow-3 {
  box-shadow: 3px 3px 8px 3px #333333;
}

.gr-shadow-4 {
  box-shadow: 4px 4px 9px 4px #333333;
}

.gr-shadow-5 {
  box-shadow: 5px 5px 10px 4px #333333;
}